# Ignore Python bytecode files

_.pyc
_.pyo
**pycache**/

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore log files
\*.log

# Ignore temporary files
_.tmp
_.swp
_.swo
_.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build directories
build/
dist/
\*.egg-info/

# Ignore any other files or directories you want to exclude
node_modules/
coverage/
